# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# App data (Personal notes shouldn't go to GitHub.)
data.json
backups/
logs/

